<<<<<<< HEAD
<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!-- Content for the login page -->
<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        <!-- <div class="offset-md-4 col-md-4"> -->
            <!-- <h1 class="pagetitle">Please Login</h1> -->

            <form id="loginform"method="POST" autocomplete="off">
                <h1 id="logintitle">Please Login..  <span><i id="keyicon" class="fa fa-key"></i></span></h1>
                    <p class="login-field">
                        <input type="text" class="loginform-control"
                            name="username" placeholder="Username"
                            id="username" required autofocus>
                    
                    <p class="login-field"></p>
                        <input type="password" class="loginform-control"
                            name="password" placeholder="Password"
                            id="password" required>
                    </p>
                    <div class="loginpg-btns">
                        <button class="loginbtn">Log in</button>
                        <a href="/">
                        <input class="cancelbtn" type="button" value="Cancel">
                        </a>
                    </div>
            </form>
                


                <!-- <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset> -->

                <!-- <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset> -->

        <!-- </div> -->
    </div>
   
</main>

<% include ../partials/bottom_nav.ejs %>
=======
<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!-- Content for the login page -->
<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        <!-- <div class="offset-md-4 col-md-4"> -->
            <!-- <h1 class="pagetitle">Please Login</h1> -->

            <form id="loginform"method="POST" autocomplete="off">
                <h1 id="logintitle">Please Login..  <span><i id="keyicon" class="fa fa-key"></i></span></h1>
                    <p class="login-field">
                        <input type="text" class="loginform-control"
                            name="username" placeholder="Username"
                            id="username" required autofocus>
                    
                    <p class="login-field"></p>
                        <input type="password" class="loginform-control"
                            name="password" placeholder="Password"
                            id="password" required>
                    </p>
                    <div class="loginpg-btns">
                        <button class="loginbtn">Log in</button>
                        <a href="/">
                        <input class="cancelbtn" type="button" value="Cancel">
                        </a>
                    </div>
            </form>
                


                <!-- <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset> -->

                <!-- <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset> -->

        <!-- </div> -->
    </div>
   
</main>

<% include ../partials/bottom_nav.ejs %>
>>>>>>> dd6c681507599ea9f1f2adcfbe9aa99cf1ee1b37
<% include ../partials/footer.ejs %>