<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!-- Content for the Register page -->
<main class="container">
     <!-- Message Area -->
     <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
    <!-- Register form -->
    <div class="row">
        <form id="registerform" method="POST" autocomplete="off" validate>
            <h1 id="registertitle"> Register Form <span><i id="keyicon" ></i></span></h1>
                <p class="register-field"></p>
                    <input type="text" class="registerform-control"
                        name="firstname" placeholder="First name"
                        id="firstname" required> 
                <p class="register-field"></p>
                    <input type="text" class="registerform-control"
                        name="lastname" placeholder="Last name"
                        id="lastname" required>                   
                <p class="register-field"></p>
                    <input type="text" class="registerform-control"
                        name="username" placeholder="Username"
                        id="username" required>                
                <p class="register-field"></p>
                    <input type="password" class="registerform-control" 
                        name="password" placeholder="Password"
                        id="password" required>
                <p class="register-field"></p>
                    <input type="password" class="registerform-control" 
                        name="password_confirm" placeholder="Confirm Password"
                        id="password_confirm" required>
                <p class="register-field"></p>
                    <input type="email" class="registerform-control"
                        name="email" placeholder="Email Address"
                        id="email" required>
                                                   
                <div class="registerpg-btns">
                    <button type="submit" class="registerbtn">Register</button>
                    <a href="/">
                    <input class="cancelbtn" type="button" value="Cancel">
                    </a>
                </div>
        </form>               
    </div>
   
</main>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>