    <!-- Bottom Nav -->
    <footer>
        <div class="navbar fixed-bottom navbar-dark bg-dark">
            <h6 class="navbar-text">©&nbsp;Copyright All Right Reserved Akino Kashima(301155967)</h6>   
        </div> 