<<<<<<< HEAD
  
    <!-- Script Section -->
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      var getTitle = "<%= title %>";
    </script>
    <script src="/Script/app.js"></script>   
</footer>
</body>
=======
  
    <!-- Script Section -->
    <script src="/jquery/dist/jquery.slim.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      var getTitle = "<%= title %>";
    </script>
    <script src="/Script/app.js"></script>   
</footer>
</body>
>>>>>>> dd6c681507599ea9f1f2adcfbe9aa99cf1ee1b37
</html>