  <!-- Main Nav bar  -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">
      <img id="logo" src="/Assets/images/image_logo2.png" alt="logo" >
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <% if (title == "Home") { %>
            <a class="nav-link active" href="/">
        <% } else { %>
            <a class="nav-link" href="/">
        <% } %>            
            <i class="fas fa-home"></i> Home </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "About") { %>
            <a class="nav-link active" href="/about">
        <% } else { %>
            <a class="nav-link" href="/about">
        <% } %>            
            <i class="fas fa-user-circle"></i> About </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "Projects") { %>
            <a class="nav-link active" href="/projects">
        <% } else { %>
            <a class="nav-link" href="/projects">
        <% } %>            
            <i class="fas fa-laptop-code"></i> Projects </a>
        </a>
      </li>     
      <li class="nav-item">
        <% if (title == "Services") { %>
            <a class="nav-link active" href="/services">
        <% } else { %>
            <a class="nav-link" href="/services">
        <% } %>            
            <i class="fas fa-hand-holding-heart"></i> Services </a>
        </a>
      </li>
      <li class="nav-item">
        <% if (title == "Contact") { %>
            <a class="nav-link active" href="/contact">
        <% } else { %>
            <a class="nav-link" href="/contact">
        <% } %>            
            <i class="fas fa-envelope"></i> Contact </a>
        </a>
      </li> 
      <li class="nav-item dropdown">
        <% if (title == "Contacts List" || title == "Add a new contact"  || title == "Business Contacts List") { %>
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Business Contacts List</a>
        <% } else { %>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="fas fa-list"></i> Business Contacts List</a>
        <% } %>       
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/business/list">Contacts List</a></li>
          <li><a class="dropdown-item" href="/business/add">Add a new contact</a></li>
        </ul>
      </li>
      <li>
      <% if(typeof displayName == 'string' && displayName) { %>
        <li class="nav-item">
        <a  id="displayName" class="nav-link" href="#">  
        <i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></a></li>
        <li class="nav-item">
        <button id="logout" class="btn btn-outline-success">
        <a class="nav-link"  href="/logout">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        </button>        
      <% } else { %>
        <li class="nav-item">
        <button id="login" class="btn btn-outline-success">
        <a class="nav-link" a href="/login">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        </button>                          
      <% } %>
      </li>
    </ul>
    
  </nav>























