<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- About page Main Content -->

<main class="container">
  <div>
    <h1 id="abouttitle"><%= title %> me</h1>
    <div class="aboutcontent">
    <div><img  class="mypic" src="/Assets/images/image_me.png" alt="pic_me"></div>
    <p class="aboutme">My name is Akino Kashima. I am originally from Tokyo, Japan. Before moving to Canada, I was working as a business planner
        in Mexico City. At the same time, I had been working as a Spanish-Japanese translator remotely for a Japanese company since 2011,
         which renewed in 2020. As my comapny started new services related to software development, I started learning HTML, CSS and Excel VBA.
        As I found coding intersting, I decided to study Software Engineering in Canada to start this new career in a new environment. <br>
        <button class="btn btn-outline-success" id="pdfbtn" onclick="window.open('/Assets/AkinoKashimaCV.pdf', '_blank');"><i class="far fa-file-pdf"></i> Download my CV</button>
    </p>  
    </div>      
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>