<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- Home page Main Content -->

<main class="container" id="bg">
  <div>
    <h1 id="hometitle">Welcome to my Portfolio</h1>

    <div id="statement">
      <p>Not all of us can do great things. But we can do small things with great love.</p>
      <p>Committed to providing a reliable service that makes everyone smile.</p>
    </div>
    <div id="aboutme"><a class="aboutlink" href="/about">More about me...</a></div>
    

  

    
      
  </div>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>


  
