<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- Projects page Main Content -->

<main class="container">
  <div>
    <h1 class="pagetitle"><%= title %></h1>
    <div class="pjcontent">
      <div>       
        <a href="https://www.elektrolibera.jp/"><img class="pjimage" src= "/Assets/images/project1.PNG" alt="prpject1" ></a>
        <p class="pjtitle">Elektrolibera Ltc. website design</p>
        <p class="description">This is my company's new website. I have been working remotely for this company since 2020. 
          Previously, I was a Spanish-Japanese translator for the same company with a different name. As the company was renewed, I was in charge of the design of our website.</p>
      </div>
      <hr class="pjhr">
      <div>        
        <a href=""><img class="pjimage" src= "/Assets/images/project2.PNG" alt="prpject2" ></a>
        <p class="pjtitle">Realstate website design</p>
        <p class="description">As requested from the client, I designed a fancy website for a realstate agency using HTML and CSS. 
          The realstate agency aims young female customers.</p>.
      </div>
      <hr class="pjhr">
      <div>        
        <a href=""><img class="pjimage" src= "/Assets/images/project3.PNG" alt="prpject3" ></a>
        <p class="pjtitle">Cooking recipe search engine website design</p>
        <p class="description">A cooking school located in Osaka, Japan requested us to creat a recipe search engine for their student use.
          I was in charge of the website design using HTML, CSS and javascript.
        </p>
      </div>
    </div>          
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>