<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- Services page Main Content -->

<main class="container">
  <div>
    <h1 class="pagetitle"><%= title %></h1>
    <div class="services-content">
        <div class="services-item">
          <img class="services-image" src="/Assets/images/programming.jpg"  alt="service1">
          <h2 class="services-title">General Programming</h2>
          <p class="services-paragraph">General programming for mathematical calculations, research work and application development (C#, Java, Python, Javascript).</p>
        </div>
        <div class="services-item">
          <img class="services-image" src="/Assets/images/app_dev.jpg"  alt="service2">
          <h2 class="services-title">Application Development</h2>
          <p class="services-paragraph">My approach is to create an app design that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.</p>
        </div>
        <div class="services-item">
          <img class="services-image" src= "/Assets/images/design.jpg"  alt="service3">
          <h2 class="services-title">Web Design</h2>
          <p class="services-paragraph">My approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience.

          </p>
        </div>
    </div>
      
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>